# Environment variables
rfid-backend/.env
db-simulator/.env
db-simulator/ca.pem
# Node
node_modules/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/
rfid-backend/ca.pem
